html {
  font-size: 15px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #342D7E;
  text-align: center;
}

p {
  color: white;
}

h1 {
  text-align: center;
  color: white;
  border: 3px dotted white;
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  line-height: 0px;
  margin-top: 50px;
  margin-left: 15px;
}

#viewingSteps {
  color: #342D7E;
  margin: 0 auto 0 auto;
  text-align: start;
  font-size: 19px;
}

#viewingSteps ol {
  display: inline-block;
}

#viewingSteps li {
  text-align: left;
  margin: 10px;
}

.splitLeft {
  text-align: start;
  left: 0;
  background-color: lightblue;
  height: 100%;
  width: 25%;
  position: fixed;
  font-size: 11px;
}

.splitRight img {
  width: 35%;
  height: 35%;
  margin-left: 18px;
  margin-top: 15px;
}

.splitRight {
  right: 0;
  background-color: lavender;
  height: 100%;
  width: 75%;
  position: fixed;
  overflow: scroll;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
